In [3]:
import pandas as pd
import sqlite3

orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

conn = sqlite3.connect(":memory:")
with open("restaurants.sql", "r") as f:
    conn.executescript(f.read())

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

final_df = orders.merge(users, on="user_id", how="left")
final_df = final_df.merge(restaurants, on="restaurant_id", how="left")

final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [1]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(gold_city_revenue)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [4]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

cuisine_avg_order = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(cuisine_avg_order)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [5]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

user_total = (
    df.groupby("user_id")["total_amount"]
    .sum()
)

count_users = (user_total > 1000).sum()

print(count_users)

2544

In [6]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

rating_bins = pd.cut(
    df["rating"],
    bins=[3.0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.0–3.5", "3.6–4.0", "4.1–4.5", "4.6–5.0"],
    include_lowest=True
)

rating_revenue = (
    df.assign(rating_range=rating_bins)
      .groupby("rating_range")["total_amount"]
      .sum()
      .sort_values(ascending=False)
)

print(rating_revenue)

<ipython-input-6-38bd176a36a5>:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("rating_range")["total_amount"]

rating_range
4.6–5.0    2197030.75
3.0–3.5    2136772.70
4.1–4.5    1960326.26
3.6–4.0    1717494.41
Name: total_amount, dtype: float64

In [7]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_city_avg = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(gold_city_avg)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [8]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

cuisine_summary = (
    df.groupby("cuisine")
      .agg(
          distinct_restaurants=("restaurant_id", "nunique"),
          total_revenue=("total_amount", "sum")
      )
      .sort_values("distinct_restaurants")
)

print(cuisine_summary)

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [9]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

total_orders = len(df)
gold_orders = len(df[df["membership"] == "Gold"])

percentage = round((gold_orders / total_orders) * 100)

print(percentage)

50

In [11]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

restaurant_stats = (
    df.groupby("restaurant_name_x")
      .agg(
          avg_order_value=("total_amount", "mean"),
          total_orders=("order_id", "count")
      )
)

filtered = restaurant_stats[restaurant_stats["total_orders"] < 20]

result = filtered.sort_values("avg_order_value", ascending=False)

print(result.head())

                                   avg_order_value  total_orders
restaurant_name_x
Hotel Dhaba Multicuisine               1040.222308            13
Sri Mess Punjabi                       1029.180833            12
Ruchi Biryani Punjabi                  1002.140625            16
Sri Delights Pure Veg                   989.467222            18
Classic Kitchen Family Restaurant       973.167895            19

In [12]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
      .sum()
      .sort_values(ascending=False)
)

print(combo_revenue)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [13]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)

df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = (
    df.groupby("quarter")["total_amount"]
      .sum()
      .sort_values(ascending=False)
)

print(quarter_revenue)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [14]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_orders = df[df["membership"] == "Gold"].shape[0]

print(gold_orders)

4987

In [15]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

hyderabad_revenue = round(
    df[df["city"] == "Hyderabad"]["total_amount"].sum()
)

print(hyderabad_revenue)

1889367

In [16]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

distinct_users = df["user_id"].nunique()

print(distinct_users)

2883

In [17]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_avg_order = round(
    df[df["membership"] == "Gold"]["total_amount"].mean(),
    2
)

print(gold_avg_order)

797.15

In [18]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

high_rating_orders = df[df["rating"] >= 4.5].shape[0]

print(high_rating_orders)

3374

In [19]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_df = df[df["membership"] == "Gold"]

top_city = (
    gold_df.groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

orders_in_top_city = gold_df[gold_df["city"] == top_city].shape[0]

print(orders_in_top_city)

1337